.localCollections, .publicCollections {
    min-width: 100px;
    height: 40px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    background: var(--bluish-color);
    color: var(--button-color);
    padding-left: 10px;
    padding-right: 10px;
}

.localCollections {
    border-radius: 16px 0 0 16px;
}

.publicCollections {
    border-radius: 0 16px 16px 0;;
}

.localCollections.active, .publicCollections.active{
    background: var(--button-color);
    color: white;
}

.localCollections:hover, .publicCollections:hover {
    background: var(--bluish-hovered-color);
}

.localCollections.active:hover, .publicCollections.active:hover {
    background: var(--button-hovered-color);
}
