.collectionDetails, .collectionFeatures {
    padding-left: 20px;
    position: relative;
}

.collectionDetails {
    cursor: pointer;
    border-radius: 16px 16px 0 0 !important;
    z-index: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    /* background: #ffffff; */
}

.collectionFeatures {
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 2;
    border-radius: 0 0 16px 16px;
    box-shadow: none;
    border-top: 1px solid lightgray;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    /* background: rgba(75, 100, 242, 0.85); */
}

.collectionName {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

.wordCount {
    margin: 0;
    color: #6c757d;
    font-size: 16px;
    margin-top: 5px;
}

.collection {
    margin-bottom: 20px;
    width: 100%;
}

.authorUsername {
    margin-bottom: 0;
    margin-top: 0;
}

.chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.profilePicture {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 20px;
    transition: width 0.3s, height 0.3s, border-radius 0.3s;
}

.profilePicture:hover {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    z-index: 50;
}

.editButtons { 
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.deleteCurrentCollection, .renameCurrentCollection {
    margin-right: 10px;
    cursor: pointer;
    height: 100%;
    width: 100px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 16px;
    font-weight: 600;
}

.deleteCurrentCollection {
    background: rgba(255, 0, 0, 0.9);
}

.deleteCurrentCollection:hover {
    background: rgba(255, 0, 0, 0.8);
}

/* .renameCurrentCollection {
    background: rgba(255,165,0, 1);
}

.renameCurrentCollection:hover {
    background: rgba(255,165,0, 0.9);
} */