#partOfSpeech, #exampleHead {
    font-weight: bold;
    color: green;
    font-size: 24px;
}

#definition {
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.example {
    color: #6c757d;
}

.word {
    text-transform: capitalize;
}

.definitionsList {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;

}

.definitionsList i {
    margin-bottom: 20px;
}