#partOfSpeech, #exampleHead {
    font-weight: 600;
    color: green;
    font-size: 18px;
}

#definition {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.example {
    color: var(--gray-color);
}

.word {
    font-size: 22px;
    text-transform: capitalize;
}

.definitionsList {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;

}

.definitionsList i {
    margin-bottom: 20px;
}