.Definition {
    margin-top: 20px;
}

#partOfSpeech, #exampleHead {
    font-weight: bold;
    color: green;
    font-size: 24px;
    margin-bottom: 5px;
}

#definition, #example {
    margin: 5px;
    font-weight: normal;
    font-size: 24px;
    color: white;
    padding-left: 20px;
    padding-right: 150px;
}
