.DefinitionsView {
    background: rgba(255, 255, 255, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    z-index: 2;
}

.word {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    align-items: center;
}

.addToCollection {   
    text-align: center;
    background: var(--button-color);

    border-radius: 10px;
    color: white;
    height: 100%;
    width: 38px;
    margin-left: 10px;
    cursor: pointer;
}

.addToCollection:hover {
    background: var(--button-hovered-color);
}

.wordView {
    display: flex;
    position: relative;
    align-items: center;
    height: 38px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.wordView .dropdown-menu {
    top: 48px;
    left: 0;
}
