.Header {
    background-color: black;
    height: 75px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.titleName {
    font-size: 25px;
    color: white;
}

#logo {
    margin-right: 5px;
}

