.Header {
    background-color: #4B53F2;
    height: 60px;
    padding: 0 20px 0 20px;
    margin-bottom: 10px;
    display: flex; 
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    overflow: hidden;
    transition: height 600ms;
}

.titleName {
    font-size: 24px;
    color: white;
    margin: 0;
    padding: 0;
}

#logo {
    margin-right: 5px;
}

.pageLink {
    margin-left: 20px;
    color: white;
    text-decoration: none; 
    opacity: 0.5;
}

.active {
    opacity: 1;
}

.Header .menu {
    display: none;
}

@media screen and (max-width: 600px) {
    /* .Header a {
        display: none;
    } */
    .Header .menu {
        margin-left: auto;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        display: flex;
        /* justify-content: center; */
        cursor: pointer;
    }

    .Header .linksToPages {
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
    .Header.expanded {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        height: 190px;
    }
    .Header.responsive .linksToPages {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 50px;
        width: calc(100% - 20px);
    }

    .Header.responsive .linksToPages a {
        display: flex;
        padding-left: 20px;
        align-items: center;
        height: 44px;
    }

    .Header.responsive .menu {
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .Header.responsive .logoTitle {
        position: absolute;
        left: 20px;
        top: 14px;
    }
  }