/* .profilePage {
    text-align: center;
} */
.profilePage {
    margin: auto;
    text-align: center;
}

.logoutButton {
    color: white;
    background-color: rgba(255, 0, 0, 0.9);
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer !important;
}

.logoutButton:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

/* section{
  padding: 0 15px;
}

@media (min-width: 575.98px){
    section {
        padding: 0 calc(50% - 200px);
  }
}

@media (min-width: 767.98px){
section {
    padding: 0 calc(50% - 200px);
}
}

@media (min-width: 991.98px) {
section {
    padding: 0 calc(50% - 200px);
}
}

@media (min-width: 1199.98px){
section {
    padding: 0 calc(50% - 200px);
}
} */
