.signupForm {
    text-align: center;
}

.signupTitle{
    margin-bottom: 20px;
}

.inputForm {
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 16px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}

.signupButton {
    background-color: #4B64F2;
    width: 320px;
    height: 50px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 0;
}

.passwordStrengthBar {
    width: 300px;
    margin: auto;
    margin-bottom: -10px;
}

.usernameInput {
    margin-top: 0px;
}

.passwordsMatch {
    color: red;
    margin-top: 0px;
    margin-bottom: 10px;
}

.errorText {
    color: red;
}